body{
    background-color: bisque;
}

.color{
    width: 150px;
    height: 150px;
    border: solid black 1px;
    display: inline-block;
    left: 35%;
}
#color-palette {
width: 15px;
height: 15px;
border: solid black 1px;
display: inline;
 }

 #pixel-board{
    border: solid black 1px;
    background-color: bisque;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 40px;
    height: 40px;
    display: grid;
    position: relative;
 }
 .pixel{
    border: solid black 1px;
    position: relative;
    left: 150px;
    background-color: white;
    width: 40px;
    height: 40px;
 }
 main{
    display: grid;
    position: relative;
    width: 150px;
    height: 150px;
 }

 .btnClear{
    margin-left: 150px;
    font-size: 8px;
    font-size: medium;
    color: black;
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 10px  40px;
    cursor: pointer; 
}