:root {
    --texto: 'Roboto';
}

body {
    background-color: rbg(206, 255, 196);
}

#title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: rgb(152, 224, 221);
    padding: 60px;
    
}

#color-palette {
    height: 30%;
    display: flex;
    text-align: center;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;

}